{#
/**
 * @file staff_member.html.twig
 * Default theme implementation to present Staff member data.
 *
 * This template is used when viewing Staff member pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_staff_member()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('staff_member') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
