// Atholton Elementary School
$aes-primary:   #0066CC;
$aes-secondary: #D6D6D6;
$aes-highlight: #0066CC;

// Atholton High School
$ahs-primary:   #729D4F;
$ahs-secondary: #5B7D3F;
$ahs-highlight: #729D4F;

// Applications and Research Lab
$arl-primary:   #0C6797;
$arl-secondary: #689ACA;
$arl-highlight: #0C6797;

// Bollman Bridge Elementary School
$bbes-primary:   #003366;
$bbes-secondary: #D6D6D6;
$bbes-highlight: #D6D6D6;

// Bonnie Branch Middle School
$bbms-primary:   #000099;
$bbms-secondary: #D6D6D6;
$bbms-highlight: #000099;

// Burleigh Manor Middle School
$bmms-primary:   #003399;
$bmms-secondary: #D6D6D6;
$bmms-highlight: #003399;

// Bushy Park Elementary School
$bpes-primary:   #0066CC;
$bpes-secondary: #D6D6D6;
$bpes-highlight: #0066CC;

// Bellows Spring Elementary School
$bses-primary:   #990000;
$bses-secondary: #D6D6D6;
$bses-highlight: #990000;

// Bryant Woods Elementary School
$bwes-primary:   #006633;
$bwes-secondary: #D6D6D6;
$bwes-highlight: #006633;

// Clemens Crossing Elementary School
$cces-primary:   #09345C;
$cces-secondary: #D6D6D6;
$cces-highlight: #09345C;

// Clarksville Elementary School
$ces-primary:   #003366;
$ces-secondary: #D6D6D6;
$ces-highlight: #003366;

// Centennial High School
$chs-primary:   #002C77;
$chs-secondary: #B70320;
$chs-highlight: #002C77;

// Centennial Lane Elementary School
$cles-primary:   #006699;
$cles-secondary: #D6D6D6;
$cles-highlight: #006699;

// Cedar Lane School
$cls-primary:   #0066CC;
$cls-secondary: #D6D6D6;
$cls-highlight: #0066CC;

// Clarksville Middle School
$cms-primary:   #000000;
$cms-secondary: #D6D6D6;
$cms-highlight: #D6D6D6;

// Cradlerock Elementary School
$cres-primary:   #000099;
$cres-secondary: #D6D6D6;
$cres-highlight: #000099;

// Ducketts Lane Elementary School
$dles-primary:   #006699;
$dles-secondary: #D6D6D6;
$dles-highlight: #006699;

// Dunloggin Middle School
$dms-primary:   #660000;
$dms-secondary: #D6D6D6;
$dms-highlight: #660000;

// Dayton Oaks Elementary School
$does-primary:   #6699CC;
$does-secondary: #D6D6D6;
$does-highlight: #6699CC;

// Deep Run Elementary School
$dres-primary:   #0066CC;
$dres-secondary: #D6D6D6;
$dres-highlight: #0066CC;

// Elkridge Elementary School
$ees-primary:   #0066CC;
$ees-secondary: #D6D6D6;
$ees-highlight: #0066CC;

// Elkridge Landing Middle School
$elms-primary:   #660000;
$elms-secondary: #D6D6D6;
$elms-highlight: #660000;

// Ellicott Mills Middle School
$emms-primary:   #003399;
$emms-secondary: #D6D6D6;
$emms-highlight: #6699CC;

// Fulton Elementary School
$fes-primary:   #6699CC;
$fes-secondary: #D6D6D6;
$fes-highlight: #6699CC;

// Folly Quarter Middle School
$fqms-primary:   #003399;
$fqms-secondary: #D6D6D6;
$fqms-highlight: #003399;

// Forest Ridge Elementary School
$fres-primary:   #0066CC;
$fres-secondary: #D6D6D6;
$fres-highlight: #0066CC;

// Gorman Crossing Elementary School
$gces-primary:   #006699;
$gces-secondary: #D6D6D6;
$gces-highlight: #006699;

// Guilford Elementary School
$ges-primary:   #003366;
$ges-secondary: #D6D6D6;
$ges-highlight: #003366;

// Glenelg High School
$ghs-primary:   #BD0020;
$ghs-secondary: #000000;
$ghs-highlight: #BD0020;

// Glenwood Middle School
$gms-primary:   #003399;
$gms-secondary: #D6D6D6;
$gms-highlight: #003399;

// Hammond High School
$hahs-primary:   #850000;
$hahs-secondary: #ffd75f;
$hahs-highlight: #850000;

// Homewood Center
$hc-primary:   #860007;
$hc-secondary: #ffd75f;
$hc-highlight: #860007;

// Harper’s Choice Middle School
$hcms-primary:   #003399;
$hcms-secondary: #D6D6D6;
$hcms-highlight: #003399;

// Hammond Elementary School
$hes-primary:   #006666;
$hes-secondary: #D6D6D6;
$hes-highlight: #006666;

// Hanover Hills Elementary School
$hhes-primary:   #002C77;
$hhes-secondary: #D6D6D6;
$hhes-highlight: #002C77;

// Hammond Middle School
$hms-primary:   #0066CC;
$hms-secondary: #D6D6D6;
$hms-highlight: #0066CC;

// Howard High School
$hohs-primary:   #183463;
$hohs-secondary: #646464;
$hohs-highlight: #183463;

// Hollifield Station Elementary School
$hses-primary:   #006633;
$hses-secondary: #D6D6D6;
$hses-highlight: #006633;

// Ilchester Elementary School
$ies-primary:   #006666;
$ies-secondary: #D6D6D6;
$ies-highlight: #006666;

// Jeffers Hill Elementary School
$jhes-primary:   #CC0000;
$jhes-secondary: #D6D6D6;
$jhes-highlight: #CC0000;

// Lake Elkhorn Middle School
$lems-primary:   #000000;
$lems-secondary: #D6D6D6;
$lems-highlight: #D6D6D6;

// Lisbon Elementary School
$les-primary:   #003399;
$les-secondary: #D6D6D6;
$les-highlight: #003399;

// Lime Kiln Middle School
$lkms-primary:   #669966;
$lkms-secondary: #D6D6D6;
$lkms-highlight: #669966;

// Longfellow Elementary School
$loes-primary:   #990000;
$loes-secondary: #D6D6D6;
$loes-highlight: #990000;

// Long Reach High School
$lrhs-primary:   #470A68;
$lrhs-secondary: #777;
$lrhs-highlight: #470A68;

// Laurel Woods Elementary School
$lwes-primary:   #003366;
$lwes-secondary: #D6D6D6;
$lwes-highlight: #003366;

// Mount Hebron High School
$mhhs-primary:   #000000;
$mhhs-secondary: #f2b700;
$mhhs-highlight: #f2b700;

// Murray Hill Middle School
$mhms-primary:   #000000;
$mhms-secondary: #D6D6D6;
$mhms-highlight: #000000;

// Marriotts Ridge High School
$mrhs-primary:   #132C61;
$mrhs-secondary: #777;
$mrhs-highlight: #132C61;

// Mount View Middle School
$mvms-primary:   #996699;
$mvms-secondary: #D6D6D6;
$mvms-highlight: #996699;

// Manor Woods Elementary School
$mwes-primary:   #990000;
$mwes-secondary: #D6D6D6;
$mwes-highlight: #990000;

// Mayfield Woods Middle School
$mwms-primary:   #000000;
$mwms-secondary: #D6D6D6;
$mwms-highlight: #D6D6D6;

// Northfield Elementary School
$nes-primary:   #000066;
$nes-secondary: #D6D6D6;
$nes-highlight: #000066;

// Oakland Mills High School
$omhs-primary:   #000000;
$omhs-secondary: #F6611B;
$omhs-highlight: #F6611B;

// Oakland Mills Middle School
$omms-primary:   #990000;
$omms-secondary: #D6D6D6;
$omms-highlight: #990000;

// Phelps Luck Elementary School
$ples-primary:   #990000;
$ples-secondary: #D6D6D6;
$ples-highlight: #990000;

// Patapsco Middle School
$pms-primary:   #000099;
$pms-secondary: #D6D6D6;
$pms-highlight: #000099;

// Pointers Run Elementary School
$pres-primary:   #006633;
$pres-secondary: #D6D6D6;
$pres-highlight: #006633;

// Patuxent Valley Middle School
$pvms-primary:   #003366;
$pvms-secondary: #D6D6D6;
$pvms-highlight: #003366;

// Running Brook Elementary School
$rbes-primary:   #573C67;
$rbes-secondary: #D6D6D6;
$rbes-highlight: #573C67;

// Rockburn Elementary School
$res-primary:   #002C77;
$res-secondary: #D6D6D6;
$res-highlight: #002C77;

// River Hill High School
$rhhs-primary:   #50ABDD;
$rhhs-secondary: #FFFF87;
$rhhs-highlight: #50ABDD;

// Reservoir High School
$rhs-primary:   #3A4C94;
$rhs-secondary: #EB9339;
$rhs-highlight: #EB9339;

// Swansfield Elementary School
$ses-primary:   #003366;
$ses-secondary: #D6D6D6;
$ses-highlight: #003366;

// Stevens Forest Elementary School
$sfes-primary:   #003366;
$sfes-secondary: #D6D6D6;
$sfes-highlight: #003366;

// St. John's Lane Elementary School
$sjles-primary:   #003366;
$sjles-secondary: #D6D6D6;
$sjles-highlight: #003366;

// Thunder Hill Elementary School
$thes-primary:   #006699;
$thes-secondary: #D6D6D6;
$thes-highlight: #006699;

// Triadelphia Ridge Elementary School
$tres-primary:   #006633;
$tres-secondary: #D6D6D6;
$tres-highlight: #006633;

// Talbott Springs Elementary School
$tses-primary:   #990000;
$tses-secondary: #D6D6D6;
$tses-highlight: #990000;

// Thomas Viaduct Middle School
$tvms-primary:   #006699;
$tvms-secondary: #D6D6D6;
$tvms-highlight: #006699;

// Veterans Elementary School
$ves-primary:   #003366;
$ves-secondary: #D6D6D6;
$ves-highlight: #003366;

// Waterloo Elementary School
$wates-primary:   #990000;
$wates-secondary: #D6D6D6;
$wates-highlight: #990000;

// Waverly Elementary School
$waves-primary:   #0066CC;
$waves-secondary: #D6D6D6;
$waves-highlight: #0066CC;

// West Friendship Elementary School
$wfes-primary:   #003300;
$wfes-secondary: #D6D6D6;
$wfes-highlight: #003300;

// Wilde Lake High School
$wlhs-primary:   #1E6907;
$wlhs-secondary: #FADA20;
$wlhs-highlight: #1E6907;

// Wilde Lake Middle School
$wlms-primary:   #003399;
$wlms-secondary: #D6D6D6;
$wlms-highlight: #003399;

// Worthington Elementary School
$woes-primary:   #0099CC;
$woes-secondary: #D6D6D6;
$woes-highlight: #0099CC;
